@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .page-nav {
    @apply bg-black/5 px-4 py-2 active:bg-black/10 hover:underline underline-offset-8;
  }

  .page--current {
    @apply bg-black/80 text-white active:bg-black/90;
  }

  .button {
    @apply px-4 py-2 border-2 border-sky-800/80 text-sky-800/80 rounded-xl text-sm uppercase font-bold hover:bg-sky-100 active:bg-sky-200;
  }

  .input {
    @apply px-4 py-2 border-b-2 border-b-sky-800/70 font-medium placeholder:text-sky-700/20 focus:outline-none focus:bg-sky-700/10;
  }

  .order-form {
    @apply flex flex-col basis-1/3 gap-8  pt-6 pb-10 px-16  border-2 border-sky-900/70 rounded-2xl;
  }

  .order-label {
    @apply flex flex-col gap-0 font-semibold;
  }
}
